fastapi==0.109.1
pymongo==4.3.3
rcon==2.4.4
steam==1.4.4
uvicorn==0.20.0
nextcord==2.6.0
requests==2.31.0
beautifulsoup4==4.11.1
dnspython==2.2.1
aiohttp>=3.8.5
pydantic==1.10.4
bs4==0.0.1
beautifulsoup4==4.11.1
pytz~=2023.3.post1
types_pytz>=2023.3.1.0
gql==3.4.1
