fastapi==0.89.1
pymongo==4.3.3
rcon<=2.2.1
steam==1.4.4
uvicorn==0.20.0
nextcord==2.4.2
requests==2.28.2
beautifulsoup4==4.11.1
dnspython==2.2.1
aiohttp==3.8.3
pydantic==1.10.4
bs4==0.0.1
beautifulsoup4==4.11.1
